doctype html
html
  head
    title Books
    link(rel='stylesheet', href='/output.css')
  body(class="bg-gray-100 p-6")
    h1(class="text-3xl mb-4") Hello #{user.username}, here are the books:
    ul
      each book in books
        li(class="mb-2") #{book.title} - #{book.author}
    a(href='/logout' class="text-red-500 mt-4 block") Logout
